<section class="offer-lists">
    <h2>Offer Letters</h2>
    <div class="search">
        <input type="text" placeholder="Search">
    </div>
    <app-loading style="width: 100%;" *ngIf="loading"></app-loading>
    <div class="offer" *ngFor="let offer of offers">
        <span class="info">
            {{offer.name}}
        </span>
        <span class="action">
            <button class="edit" (click)="edit(offer._id)">Edit</button>
            <button class="delete" (click)="delete(offer._id, offer.name)">Delete</button>
        </span>
    </div>
    <div class="new-offer">
        <button class="create" routerLink="/offer">Create New Offer</button>
    </div>
</section>