<section class="container logginForm-container" *ngIf="!ms.isLoggedIn()">
    <form class="logginForm">
        <h2>Login</h2>
        <input type="email" [formControl]="email" placeholder="email@example.com" autocomplete="false">
        <input type="password" [formControl]="password" placeholder="password">
        <button (click)="login()" *ngIf="!loading"> Login </button>
        <button *ngIf="loading"> Logging in ... </button>
        <a href="https://www.hirel.in">Don't have an account? Connect with us.</a>
    </form>
    <div class="divider"></div>
    <section class="content hero">
        <img src="assets/images/login-hero.jpg" alt="" width="500">
    </section>
</section>