@import "../../../colors.scss";
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    // font-size: 12px;
}


.input{
    width: 40%;
    height: calc(100vh - 60px);
    background-color: $N10;
    overflow: scroll;
    border-right: 0.1px solid grey;
    padding: 15px;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;

    h1{
        text-align: center;
    }
    .input-container{
        width: 100%;
        padding: 5px 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        label{
            display: block;
            width: 70%;
            margin-bottom: 2px;
            margin-left: 2px;
            // font-size: 12px;
        }
        input{
            width: 70%;
            height: 30px;
            border: 0.1px solid $N50;
            // box-shadow: 1px 1px 1px 1px $N50;
            // border-top: ;
            background-color: $white;
            outline: 0.1px solid $N50;
        }
        // border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);

    }
    .download-button{
        padding: 10px 15px;
        border-radius: 2px;
        border: 0px;
        background-color: $B100;
        color: white;
        display: inline;
        margin-left: auto;
        margin-right: auto;
    }
}

.content{
    width: 60%;
    height: calc(100vh - 60px);
    background-color: $N10;
    overflow: scroll;
    // border-left: 0.1px solid grey;
    padding: 15px 45px;
    text-align: justify;
    font-family: 'Source Serif Pro', serif;
    background-color: $white;

    h1{
        margin-top: 0;
    }
    table{
        border: 1px solid grey;
        margin-left: auto;
        margin-right: auto;
        td, th{
            border: 1px solid black;
            text-align: center;
            padding: 2px 5px;
        }
        border-collapse: collapse;
    }
}
